# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

concurrency:
  group: "build"
  cancel-in-progress: true

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '*.md'


jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4.7.0
        with:
          java-version: 21
          distribution: 'zulu'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Remove *-dev.jar
        run: rm ./build/libs/*-dev.jar || true
      - name: Release
        uses: "softprops/action-gh-release@v2"
        with:
          tag_name: "latest-1.21.5"
          name: "1.21.5 Build"
          files: "./build/libs/*.jar"
          make_latest: true
          token: "${{ secrets.GITHUB_TOKEN }}"
